<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Index</ion-title>
    </ion-toolbar>
  </ion-header>

	<ion-card color="success">
		<ion-card-header>
			<ion-card-subtitle>Bem vindo ao meu</ion-card-subtitle>
			<ion-card-title>app de notícias!</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			Acesse a listagem de <strong><a href="/folder/Inbox">notícias</a></strong>.
		</ion-card-content>
	</ion-card>
</ion-content>
